#button {
    display: inline-block;
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    outline: none;

  }

  .fa-up{
    color: #000;
    transition: all .8s ease-in-out;
}

  