.section1{
    position:relative;
    height:600px;
    background:#F1F5F8;
    padding:10px 0px;
    width:100%;
  }
  .section1 h2{
    text-align:center;
    font-size:40px;
  }
  .section1 p{
    text-align:center;
    padding:0px 70px;
    color:grey;
  }
  .sticky-social{
    position:fixed;
    top:20em;
    left:-40px;
    padding:0px;
    margin:0px;
    z-index: 9;
  }
  .social{
    list-style:none;
  }
  .social li{
    padding:10px 10px;
    font-size:25px;
    transition:all 0.8s ease-in-out;
  }
  .social li:hover{
      margin-right:-30px;
   box-shadow:2px 5px 10px grey;
  }
  .social li:hover .fa{
      margin-left:20px;
    
  }
  .fa{
    color:#fff;
    transition:all 0.8s ease-in-out;
  }
  .fb{
    background-color:#3C5A98;
  }
  .twitter{
      background-color:#1EA1F2;
  }
  .insta{
      background-color:#DC4F42;
  }
  .pin{
      background-color:#CB2128;
  }
  .vim{
      background-color:#59BFBE;
  }